/* style.css */

@import url("./reset.css");

:root {
  /* variables */
  --main-color: white;
  --spacing: 1rem;
  --padding: 1rem;

  /* debugging */
  * {
    /* outline: solid red 1px; */
  }
}

body {
  background-color: forestgreen;

  font-family: Arial, Helvetica, sans-serif;

  > * {
    padding: var(--padding);
  }
}

.main-content {
  --square-size: 2.5rem;

  .gameboards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;

    /* each gameboard */
    > * {
      max-width: min-content;
      outline: solid black 1px;
      /* border-left: solid black 1px; */
      /* border-top: solid black 1px; */
    }
  }

  .gameboard-row {
    display: grid;
    grid-template-columns: repeat(10, var(--square-size));

    /* border-bottom: solid black 0.5px; */

    height: var(--square-size);
  }

  .gameboard-square {
    background-color: cadetblue;
    /* border-right: solid black 0.5px; */
    outline: solid black 1px;

    width: 2.5rem;

    text-align: center;
    text-justify: center;

    &.square-has-ship {
      outline: none;

      &.horz {
        background-color: gray;
      }

      &.vert {
        background-color: darkgray;
      }
    }
  }

  .enemy-board .gameboard-square {
    &:hover {
      background-color: red;
      /* outline: solid black 2px; */
    }
  }
}
