/* style.css */

@import url("./reset.css");

:root {
  /* variables */
  --main-color: white;
  --spacing: 1rem;
  --padding: 1rem;
  --square-size: 2.5rem;

  /* debugging */
  * {
    /* outline: solid red 1px; */
  }
}

body {
  background-color: forestgreen;
  font-family: Arial, Helvetica, sans-serif;

  min-width: calc(23 * var(--square-size));
  max-width: calc(30 * var(--square-size));

  margin: auto;

  > * {
    padding: 0 var(--padding);
  }
}

/* ====================================== General ======================================  */

button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;

  &:hover {
    transform: scale(1.025);
  }
}

/* ====================================== Main ======================================  */

.header {
  h1 {
    text-align: center;
    font-size: 3rem;
  }

  button {
    display: block;
    margin: auto;
  }
}

.main-content {
  #message-div {
    text-align: center;
    font-size: x-large;
  }

  .gameboard-titles {
    display: flex;

    /* board titles */
    div {
      width: 100%;
      text-align: center;
    }
  }

  .gameboards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;

    /* each gameboard */
    > * {
      max-width: min-content;
      border-left: solid black 1px;
      border-top: solid black 1px;
    }
  }

  .gameboard-row {
    display: grid;
    grid-template-columns: repeat(10, var(--square-size));

    height: var(--square-size);
  }

  .gameboard-square {
    display: grid;

    justify-content: center;
    align-content: center;

    background-color: cadetblue;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    &.square-has-ship {
      color: firebrick;

      border: none;

      &.horz {
        background-color: gray;
        border-bottom: solid black 1px;

        &.end-of-ship {
          border-right: solid black 1px;
        }
      }

      &.vert {
        background-color: darkgray;
        border-right: solid black 1px;
        &.end-of-ship {
          border-bottom: solid black 1px;
        }
      }
    }

    &.square-has-enemy-ship {
      color: firebrick;
    }

    .x-hit-div {
      font-size: x-large;

      max-width: min-content;
      max-height: min-content;
    }
  }

  .enemy-board .gameboard-square {
    &:hover {
      background-color: lightcoral;
    }
  }
}

/* ====================================== Misc ======================================  */

/* can make this toggle in js if want two player (future) */
#player-two-titles,
#player-two-gameboards {
  display: none;
}

#set-ships-div {
  visibility: hidden;

  display: flex;
  justify-content: center;
}
