/* style.css */

@import url("./reset.css");

:root {
  /* variables */
  --main-color: white;
  --spacing: 1rem;
  --padding: 1rem;

  /* debugging */
  * {
    /* outline: solid red 1px; */
  }
}

body {
  background-color: forestgreen;

  font-family: Arial, Helvetica, sans-serif;

  > * {
    padding: 0 var(--padding);
  }
}

.header {
  button {
    display: block;
    margin: auto;
  }
}

.main-content {
  --square-size: 2.5rem;

  #message-div {
    text-align: center;
    font-size: x-large;
  }

  .gameboard-titles {
    display: flex;
    justify-content: space-around;
  }

  .gameboards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;

    /* each gameboard */
    > * {
      max-width: min-content;
      /* outline: solid black 1px; */
      border-left: solid black 1px;
      border-top: solid black 1px;
    }
  }

  .gameboard-row {
    display: grid;
    grid-template-columns: repeat(10, var(--square-size));

    /* border-bottom: solid black 0.5px; */

    height: var(--square-size);
  }

  .gameboard-square {
    display: grid;

    justify-content: center;
    align-content: center;

    background-color: cadetblue;
    /* outline: solid black 1px; */
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    &.square-has-ship {
      color: firebrick;

      border: none;

      &.horz {
        background-color: gray;
        border-bottom: solid black 1px;

        &.end-of-ship {
          border-right: solid black 1px;
        }
      }

      &.vert {
        background-color: darkgray;
        border-right: solid black 1px;
        &.end-of-ship {
          border-bottom: solid black 1px;
        }
      }
    }

    &.square-has-enemy-ship {
      color: firebrick;
    }

    .x-hit-div {
      font-size: x-large;

      max-width: min-content;
      max-height: min-content;
    }
  }

  .enemy-board .gameboard-square {
    &:hover {
      background-color: lightcoral;
      /* outline: solid black 2px; */
    }
  }
}

/* :not([data-y-coord="9"]) {
  background-color: red !important;
} */

/* can make this toggle in js if want two player (future) */
#player-two-titles,
#player-two-gameboards {
  display: none;
}
